<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Reporter</string>
	<key>CFBundleExecutable</key>
	<string>Reporter</string>
	<key>CFBundleGetInfoString</key>
	<string>Google Breakpad 1.1.0.1138, © 2005-2009 Google Inc.</string>
	<key>CFBundleIconFile</key>
	<string>ReporterIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Reporter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Reporter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.0.1138</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Google Breakpad 1.1.0.1138, © 2005-2009 Google Inc.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>Reporter</string>
	<key>com.apple.PreferenceSync.ExcludeAllSyncKeys</key>
	<true/>
</dict>
</plist>
