<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>GoogleBreakpad</string>
	<key>CFBundleExecutable</key>
	<string>GoogleBreakpad</string>
	<key>CFBundleGetInfoString</key>
	<string>Google Breakpad 1.1.0.1138, © 2005-2009 Google Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.Google.BreakpadFramework</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GoogleBreakpad</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.0.1138</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2005-2009 Google Inc.</string>
</dict>
</plist>
